.papa_grande{
    font-family: 'Mali', cursive;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.created_background{
    border: 2px solid #4f4f4f;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ffffff63;
    width: 40rem;
    height: 35rem;
    margin: 3rem 0rem 0rem 25rem;
    border-radius: 20px;
}

.created_TexInp{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0rem 0.5rem 0rem;
}


.created_errors{
    border: 2px solid #4f4f4f;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00000075;
    width: 25rem;
    height: 35rem;
    margin: 3rem -10rem 0rem 2rem;
    border-radius: 20px;
}

.created_errors div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: -6rem 0rem 7rem 0rem;
    padding: 0rem 0.3rem 0rem 0.3rem;
    border: 2px solid  #185c51;
    background-color: #39bda7;
    border-radius: 5px;
}

.created_errors span{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: 0.5rem 0rem 0.3rem 0rem;
    padding: 0rem 0.3rem 0rem 0.3rem;
    background-color: #39bda7ab;
    border-radius: 5px;
}

.created_all{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 35rem;
}

.created_all input{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 8rem;
    text-align: center;
}

.created_home{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0rem -1.5rem -40rem;
}

.created_form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40rem;
}

.created_form p{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.created_form input{
    font-family: 'Mali', cursive;
    color: black;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid  #185c51;
    background-color: #39bda7;
    border-radius: 5px;
}

.button_home {
    cursor: pointer;
    display: inline-block;
    background-color: #a35b3258;
    padding: 0.5rem 0.5rem;
    border: 2px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: rgb(0, 0, 0);
    z-index: 1;
    margin: 1rem 0rem -3rem 43rem;
}

.button_home:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button_home:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button_home:hover {
    color: #ffffff;
    border: 1px solid #39bda7;
}

.button_home:hover:before {
    top: -35%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
   
.button_home:hover:after {
   top: -45%;
   background-color: #39bda7;
   transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.created_TexInp input{
    text-align: center;
    width: 3rem;
    margin: 0rem 0.5rem 0rem 0.5rem;
}

.created_temp{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 30rem;
    height: 10rem;
    /* background-color: black; */
    margin-top: 1rem;
}

.created_temp button{
    font-family: 'Mali', cursive;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.6rem 0rem 0rem 0.5rem;
    padding: 0.05rem 0.3rem 0.05rem 0.3rem;
    border: 2px solid  #185c51;
    background-color: #39bda7;
    border-radius: 5px;
}